.ripple {
  width: 20px;
  height: 20px;
  background-color: transparent;
  position: fixed;
  border-radius: 50%;
  border: 1px solid;
  pointer-events: none;
  opacity: .90;
}

@keyframes ripple-effect {
  to {
    transform: scale(3);
    opacity: 0.01;
  }
}

::-webkit-scrollbar {
  width: 0;
  /* background: transparent;  Optional: just make scrollbar invisible */
}

input[type="range"]::-webkit-slider-runnable-track {
  background: grey;
  height: 0.2rem;
  border-radius: 0.4rem;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: white;
  height: 0.4rem;
  width: 0.4rem;
  margin-top: -0.1rem;
  border-radius: 0.4rem;
}

html {
  font-size: 30px;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
